[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
environs = "*"
psycopg = {extras = ["binary"], version = "*"}
djangorestframework-simplejwt = "*"
gunicorn = "*"
dj-database-url = "*"
django-cors-headers = "*"
whitenoise = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
